body {
  background-color: #f5f9ff;
  margin: 0 auto;
  width: 50em;
  font-family: "Playfair Display";
  line-height: 1.25;
  transition: font-size 0.25s ease;
}

#TITLE {
  font-size: 1.6em;
  background-image: url("images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10em;
  background-position: bottom;
  font-weight: bold;
}

#TITLE h4 {
  border: 2px solid white;
  width: 18em;
  margin: 0 auto;
  font-size: 2em;
}

#Subtitle {
  font-size: 0.8em;
}

#month {
  font: 1.4em serif;
}

#container2 {
  display: grid;
  grid-template-columns: repeat(6, 3.7em);
  grid-auto-rows: 1em;
  grid-gap: 1px;
}

.date {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: serif;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  border: 0.1px solid rgb(201, 189, 189);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 22em;
}
button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-family: serif;
  font-size: 1em;
}

button:hover {
  border: 1px solid;
  border-radius: 5px;
}

.date:hover {
  border: none;
  font-size: 1em;
  font-weight: bold;
}

#showcase {
  position: relative;
}

/*ADD THIS SECTION WHEN THE USER CLICK ON FORM*/

#showcase:after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  width: 87em;
  margin-left: -10em;
}

#popUp_superMain {
  background-color: white;
  display: none;
  bottom: 5em;
  position: absolute;
  z-index: 2;
  margin-left: 8em;
  height: 30em;
  width: 40em;
  left: 17em;
}

#popUPBackground {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  bottom: 42em;
  backdrop-filter: blur(12px);
  z-index: 1;
  position: relative;
  width: 87em;
  margin-left: -21em;
  height: 43em;
  margin-bottom: -51em;
}

.notas {
  background-color: white;
  margin: 0px 18px 18px 2px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 3px gray;
  border-radius: 2%;
}

#myNotesTitle {
  font: 1.4em serif;
}
#Calendar {
  box-shadow: 0.5px 0.5px 3px gray;
  background-color: white;
  width: 87px;
  margin: 0px 18px 18px 2px;
  height: 10em;
}

#Gallery {
  box-shadow: 0.5px 0.5px 3px gray;
  background-color: white;
  width: 87px;
  margin: 0px 0px 18px 2px;
  height: 11em;
  cursor: pointer;
}
#mydatatitle {
  font: 1.4em serif;
}

#Form {
  box-shadow: 0.5px 0.5px 3px gray;
  background-color: white;
  width: 87px;
  margin: 0px 0px 18px 2px;
  height: 10em;
  cursor: pointer;
}

#formTitle {
  font: 1.4em serif;
}
