body {
  background-color: #f5f9ff;
  font-family: "Playfair Display";
  line-height: 1.25;
  transition: font-size 0.25s ease;
  color: #2e402c;
  margin-left: 6em;
}

.flexbodies {
  display: flex;
}

.body1 {
  width: 55em;
  margin: 0;
}

.body2 {
  z-index: 0;
}

.mapid {
  width: 24em;
  height: 37em;
  margin-top: 1em;
  margin-left: 4em;
  border: 0.8em solid #2e402c;
}

#TITLE {
  font-size: 1.6em;
  background-image: url("gallery/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10em;
  background-position: bottom;
}

#TITLE h4 {
  border: 2px solid white;
  width: 18em;
  margin: 1em auto;
  font-size: 2em;
  font-weight: bolder;
  text-shadow: 2px 2px #2e402c;
}

#showcase {
  position: relative;
}

#showcase:after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  width: 87em;
  margin-left: -10em;
}

#popUp_superMain {
  background-color: white;
  display: none;
  top: 3em;
  height: 31em;
  width: 47em;
  left: 32em;
  border: 1px solid #2e402c;
}

#popUPBackground {
  display: none;
  bottom: 29em;
  backdrop-filter: blur(12px);
  z-index: 1;
  position: relative;
  width: 103.4em;
  margin-left: -21em;
  height: 70em;
}

@media screen and (max-width: 620px) {
  #popUp_superMain {
    left: 9em;
    width: 35em;
  }
  #popUPBackground {
    width: 58em;
  }

  .successCard {
    left: 10em;
  }

  body {
    margin-left: 2em;
  }

  .body1 {
    width: 29em;
  }

  .flexbodies {
    display: block;
  }

  .mapid {
    height: 37em;
    margin-left: 5em;
  }

  .cityFormBttn {
    padding: 0.5em;
    letter-spacing: 0em;
    font-size: 1em;
  }
  #tables {
    margin-left: 0em;
  }
  th {
    padding: 0.6em;
  }
  .thead {
    position: absolute;
    font-size: 5px;
    top: 2em;
    left: -4.5em;
  }

  #TITLE {
    font-size: 1.4em;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em;
  }
}

#recentCitiesAdded {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  border-radius: 0.2em;
}

#recentCitiesAdded:hover {
  top: -8px;
}

.cityTopSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5em;
}

#recentCitiesAdded {
  display: block;
  box-shadow: 0.5px 0.5px 3px gray;
  background-color: white;
  width: 87px;
  margin: 0px 0px 18px 2px;
  height: 35em;
  display: block;
  cursor: pointer;
}

#listtitle {
  font: 1.9em serif;
  padding: 1em 0em 0em 0em;
  border-bottom: 1px solid;
  margin-bottom: 2em;
}

#main {
  display: block;
}

table {
  overflow-y: scroll;
  position: static;
  width: 43em;

  margin-left: 7em;
}

.tablebody {
  position: relative;
}

.thead {
  position: absolute;
  font-size: 16px;
  top: 6em;
  width: 40em;
  margin: 4em 0em 0em 4em;
}

th {
  padding: 1em;
}

td {
  border-bottom: 1px solid rgb(164, 164, 185);
  height: 3em;
}

#main {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}

#mydatatitle {
  font: 1.4em serif;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#display_image {
  width: 300px;
  height: 139px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}

.imgFlex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-control-lg {
  margin: 0 auto;
  width: 15em;
  text-align: center;
}

#currentdate {
  font-weight: bolder;
  color: white;
}

/* ERROR SUCESS POP UP*/

.successCard {
  display: none;
  position: absolute;
  z-index: 1;
  top: 8em;
  right: 32em;
  text-align: center;
  background-color: white;
  margin: 1em auto;
  width: 18em;
  border-radius: 2em;
  padding: 3em;
  height: 20em;
  box-shadow: 2px 2px 10px grey;
}

.errorCard {
  /*ADD SECTION WHEN USER DOES NOT CLICK ON SAVE BUTTON IT SHOW ERRORCARD*/
  display: none;
  position: absolute;
  z-index: 1;
  top: 13em;
  right: 33em;
  text-align: center;
  background-color: white;
  margin: 1em auto;
  width: 18em;
  border-radius: 2em;
  padding: 3em;
  height: 20em;
  box-shadow: 2px 2px 10px grey;
}

.errorCard img,
.successCard img {
  width: 5em;
}

h1 {
  font-size: 1.5em;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

.bttnsuccess {
  background-color: #2e402c;
  color: white;
  border: 1px solid white;
  padding: 0.9em;
  border-radius: 2em;
  font-size: 1.5em;
  letter-spacing: 3px;
}

.bttnsuccess:hover {
  background-color: white;
  color: #2e402c;
  border: 1px solid #2e402c;
}
.bttnerror {
  background-color: #cd4c4c;
  color: white;
  border: 1px solid black;
  padding: 0.9em;
  border-radius: 2em;
  font-size: 1.5em;
  letter-spacing: 3px;
}

.cityFormBttn {
  border: 1px solid #2e402c;
  background-color: white;
  color: #2e402c;
  border-radius: 2em;
  padding: 1em;
  letter-spacing: 0.2em;
  font-size: 1.1em;
}

.cityFormBttn:hover {
  background-color: #2e402c;
  color: #ffffff;
}

.openSource {
  text-decoration: underline;
  color: #2e402c;
}

.note {
  cursor: pointer;
}

.note:hover {
  top: 18px;
}

#tryagaing,
#successCard {
  display: none;
}

/*gallery*/

.showCitiesDiv {
  display: flex;
  justify-content: space-evenly;
}

.picsS {
  width: 10em;
  margin-top: 4em;
}
