#month {
  font: 1.6em serif;
}

#container2 {
  display: grid;
  grid-template-columns: repeat(7, 3.1em);
  grid-auto-rows: 2em;
  grid-gap: 4px;
  margin-top: 10px;
}
.date {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: serif;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  border: 0.1px solid black;
}

.buttons {
  display: flex;
  margin: 20px;
  flex-direction: row;
  justify-content: space-between;
  width: 22em;
}
button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-family: serif;
  font-size: 1.3em;
}

button:hover {
  border: 1px solid;
  border-radius: 25px;
}

.date:hover {
  border: none;
  font-size: 1.3em;
  font-weight: bold;
}
